{% extends "patterns/base_page.html" %}
{% load static %}

{% block content %}
    <div id="app">
        <h1>News listing</h1>
        <label for="category">Choose a category</label>
        <select name="category" id="category" v-model="category" @change="filterResults(), paginate()">
            <option v-for="category in allNewsTypes" v-bind:value="category">
                [[ category ]]
            </option>
        </select>
        <ul>
            <news-item
                v-for="item in currentPageNews"
                v-bind:newsitem="item"
                v-bind:key="item.id"
            ></news-item>
        </ul>

        <div>
            <template v-if="hasPrev">
                <button @click="getPrevPage">Previous page</button>
            </template>
            Page [[ pageNum ]] of [[ numPages ]]
            <template v-if="hasNext">
                <button @click="getNextPage">Next page</button>
            </template>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/vue.js' %}"></script>
{% endblock %}
